openapi: 3.1.0
info:
  title: Reuters Connect Authentication API
  description: Reuters Connect Web Services is the professional content delivery platform providing REST API access to news, images, video, and data from Reuters and partner content sources. The API enables searching and retrieving editorial content with great specificity and speed, powering over 100 customer applications and internal systems. Content is organized into channels by category (text, images, video, graphics) and items can be retrieved individually or searched by keyword within channels.
  version: 1.0.0
  contact:
    name: Reuters API Support
    url: https://www.reutersconnect.com/contact
    email: api.support@thomsonreuters.com
  license:
    name: Reuters Terms of Use
    url: https://www.reuters.com/info-pages/terms-of-use/
  termsOfService: https://www.reuters.com/info-pages/terms-of-use/
servers:
- url: https://rmb.reuters.com/rmd/rest/xml
  description: Reuters Connect Content Delivery Server
- url: https://commerce.reuters.com/rmd/rest/xml
  description: Reuters Connect Authentication Server
security:
- tokenAuth: []
tags:
- name: Authentication
  description: Authenticate with Reuters Connect to obtain an authorization token. Tokens are required for all content API calls and should be cached and renewed periodically.
paths:
  /login:
    post:
      operationId: login
      summary: Authenticate and Obtain Authorization Token
      description: Authenticates with the Reuters Connect service using username and password credentials. Returns an authorization token that must be included in all subsequent API requests. Tokens should be cached and renewed periodically (typically every 3600 seconds). This endpoint uses the commerce.reuters.com authentication server.
      tags:
      - Authentication
      servers:
      - url: https://commerce.reuters.com/rmd/rest/xml
        description: Reuters Connect Authentication Server
      parameters:
      - $ref: '#/components/parameters/username'
      - $ref: '#/components/parameters/password'
      responses:
        '200':
          description: Successfully authenticated. Returns an authorization token.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    AuthTokenResponse:
      type: object
      description: Authentication response containing the authorization token.
      properties:
        authToken:
          type: string
          description: The authorization token to use for subsequent API requests. Should be cached and renewed periodically.
      xml:
        name: authToken
    Error:
      type: object
      description: An error response from the Reuters Connect API.
      properties:
        code:
          type: string
          description: A machine-readable error code.
        message:
          type: string
          description: A human-readable error message describing the issue.
      xml:
        name: error
  parameters:
    username:
      name: username
      in: query
      required: true
      description: The Reuters Connect account username for authentication.
      schema:
        type: string
    password:
      name: password
      in: query
      required: true
      description: The Reuters Connect account password for authentication.
      schema:
        type: string
        format: password
  responses:
    InternalServerError:
      description: An internal server error occurred. Try the request again later or contact Reuters API support.
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication failed. The token is missing, expired, or invalid. Obtain a new token from the /login endpoint.
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Access denied. Your subscription does not include access to the requested resource or channel.
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: query
      name: token
      description: Authorization token obtained from the /login endpoint. Must be included as a query parameter in all content API requests.
